<h1>Entre no sistema</h1>

<%= form_tag sessions_path do %>
    <% if flash[:alert] %>
        <div class="alert alert-error">
          <%= flash[:alert] %>
        </div>
    <% end %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Entrar" %></div>
<% end %>

