<p id="notice"><%= notice %></p>

<p>
  <b>Valor:</b>
  <%= @despesa.valor %>
</p>

<p>
  <b>Descricao:</b>
  <%= @despesa.descricao %>
</p>

<p>
  <b>Conta origem:</b>
  <%= Contum.find(@despesa.conta_origem_id).agencia %>
  <%= Contum.find(@despesa.conta_origem_id).nro_conta %>
</p>

<p>
  <b>Conta destino:</b>
  <%= Contum.find(@despesa.conta_destino_id).agencia %>
  <%= Contum.find(@despesa.conta_destino_id).nro_conta %>
</p>


<%= link_to 'Edit', edit_despesa_path(@despesa) %> |
<%= link_to 'Back', despesas_path %>
